<!DOCTYPE html>

<html>

<head>
    <title>Controle de Animais</title>
</head>

<body>
    <center> 
        <h1> Controle de Animais </h1>
        <a href="usuarioCreate"> <button> Cadastrar Usu치rio</button> </a> 
        <a href="usuarioList"> <button> Listar Usu치rios</button> </a>
        <a href="comentarioCreate"> <button> Cadastrar Coment치rio</button> </a> 
        <a href="comentarioList"> <button> Listar Coment치rios</button> </a>
        <a href="animalCreate"> <button>Cadastrar Animal</button></a>
        <a href="animalList"> <button>Listar Animal</button></a>
        <br> <br>
        {{{body}}}
    </center>
</body>

</html>