<!DOCTYPE html>​

<html>

<head>​
    <title>Sistema de Abrigos</title>​
</head>​

<body>​
    <center> ​
        <h1> Sistema de Abrigos </h1>​
        <a href="/usuarioCreate"> <button> Cadastrar Usuário</button> </a> ​
        <a href="/usuarioList"> <button> Listar Usuários</button> </a>​
        <a href="/animalCreate"> <button> Cadastrar animal</button> </a>
        <a href="/animalList"> <button> Listar Animal</button> </a>
        <a href="/abrigoCreate"> <button> Cadastrar Abrigo</button> </a>
        <a href="/abrigoList"> <button> Listar Abrigo</button> </a>
        <a href="/logout"> <button> Logout</button> </a>​
        <br> <br>​
        {{{body}}}​
    </center>​
</body>​

</html>