<!DOCTYPE html>

<html>

<head>
    <title>Controle de Animais</title>
</head>

<body>
    <center> 
        <h1> Controle de Animais </h1>​
        <br> <br>
        {{{body}}}
    </center>
</body>

</html>