<form action="/especieUpdate" method="post">
    <input type="hidden" name="id" value={{especie.id}}>
    Especie: <input type="text" name="especie" value="{{especie.especie}}">
    <br> <br>
    <input type="submit" value="Editar">
</form>