<form action="/abrigoCreate" method="post">
    <label>Nome:</label>
    <input type="text" name="nome" required>
    <br><br>

    <label>endereço:</label>
    <input type="text" name="endereco" required>
    <br><br>

    <label>telefone:</label>
    <input type="text" name="telefone" required>
    <br><br>

    <label>email:</label>
    <input type="text" name="email" required>
    <br><br>

    <input type="submit" value="Cadastrar">
</form>