<form action="/animalCreate" method="post">
    Nome: <input type="text" name="nome">
    <br> <br>
    Sexo: <input type="text" name="sexo">
    <br> <br>
    Data de Nascimento: <input type="text" name="dataNascimento">
    <br> <br>
    Espécie: <input type="text" name="especie">
    <br> <br>
    Raça: <input type="text" name="raca">
    <br> <br>
    Castradp: <input type="boolean" name="castrado">
    <br> <br>
    Doenças: <input type="text" name="doencas">
    <br> <br>
    Informações: <input type="text" name="informacoes">
    <br> <br>
    <input type="submit" value="Cadastrar">
</form>