<form action="/animalCreate" method="post">
    <label>Nome:</label>
    <input type="text" name="nome" required>
    <br><br>

    <label>sexo:</label>
    <input type="text" name="sexo" required>
    <br><br>

    <label>dataNascimento:</label>
    <input type="text" name="dataNascimento" required>
    <br><br>

    <label>castrado:</label>
    <input type="text" name="castrado" required>
    <br><br>

    <label>Informacoes:</label>
    <input type="number" name="informacoes" required>
    <br><br>

    <label>Porte:</label>
    <input type="number" name="porte" required>
    <br><br>

    <label>Especie:</label>
    <select name="especieId" >
        {{#each especies}}
            <option value="{{id}}">{{especie}}</option>
        {{/each}}
    </select>
    <br><br>

    <input type="submit" value="Cadastrar">
</form>