<form action="/animalCreate" method="post">
    <label>Nome:</label>
    <input type="text" name="nome" required>
    <br><br>

    <label>sexo:</label>
    <input type="text" name="sexo" required>
    <br><br>

    <label>dataNascimento:</label>
    <input type="text" name="dataNascimento" required>
    <br><br>

    <label>castrado:</label>
    <input type="text" name="castrado" required>
    <br><br>

    <label>Informacoes:</label>
    <input type="text" name="informacoes" required>
    <br><br>

    <label>Porte:</label>
    <input type="text" name="porte" required>
    <br><br>

    <label>Abrigo:</label>
    <select name="abrigoId">
        {{#each abrigos}}
        <option value="{{id}}">{{nome}}</option>
        {{/each}}
    </select>
    <br><br>

    <label>Especie:</label>
     <input type="text" name="especie" required>
    <br><br>
    
    <label>Raça:</label>
    <input type="text" name="raca" required>
    <br><br>

    <input type="submit" value="Cadastrar">
</form>